form{
    display: inline-block;
}
fieldset{
    border: 5px solid rgb(22, 128, 209)!important;
    background-color: #e9e96d;
}
table {
    border: 3px solid rgb(22, 128, 209)!important;
}
table,
tr,
th,
td {
    border: 1px solid rgb(22, 128, 209);
    border-collapse: collapse;
    padding: 3px;
    margin: 2px;
}
input, select {
    text-align: right;
    padding: 5px;
}
select{
    text-align: center!important;
}